<p class="lead">Elías A. Angulo Klein</p>
<div class="list-group">                            
    <div ng-class="{ active:tab.isSet(0) }" ><a ng-click="tab.setTab(0)" class="list-group-item" href>API Calls</a></div>
    <div ng-class="{ active:tab.isSet(1) }" ><a ng-click="tab.setTab(1)" class="list-group-item" href>Full View</a></div>
    <div ng-class="{ active:tab.isSet(2) }"><a ng-click="tab.setTab(2)" class="list-group-item" href>My array_keys( ) function</a></div>
    <div ng-class="{ active:tab.isSet(3) }"><a ng-click="tab.setTab(3)" class="list-group-item" href>Submit a review</a></div>
    <div><a class="list-group-item" href="docs/index.html">See the docs</a></div>
    <div><a class="list-group-item" href="http://php.net/manual/en/function.array-keys.php">Original function documentation page.</a></div>
</div>