<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1 style="font-size: 48pt;"><a class="navbar-brand" href="#">Array Keys</a></h1>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float: right;">
        <div style="display: inline">
            <ul class="nav navbar-nav" style="display: inline;">
                <li>
                    <a href="http://php.net"><img style="width: 35px;height: 35px;" src="img/php.png" alt="PHP.net" /></a>
                </li>
                <li>
                    <a href="https://github.com/crossplatformdev"><img style="width: 35px;height: 35px;" src="img/github.png" alt="Github" /></a>
                </li>
                <li>
                    <a href="https://es.linkedin.com/in/crossplatformdev"><img style="width: 145px;height: 35px;" src="img/linkedin.png" alt="LinkedIn" /></a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->